<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="born_geoip_country_listing_data_source" xsi:type="string">Born\GeoIp\Model\ResourceModel\Country\Grid\Collection</item>
                 <item name="born_geoip_currency_listing_data_source" xsi:type="string">Born\GeoIp\Model\ResourceModel\Currency\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    
    <virtualType name="Born\GeoIp\Model\ResourceModel\Country\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">countrymapping</argument>
            <argument name="eventPrefix" xsi:type="string">born_geoip_country_collection</argument>
            <argument name="eventObject" xsi:type="string">born_geoip_collection</argument>
            <argument name="resourceModel" xsi:type="string">Born\GeoIp\Model\ResourceModel\Country</argument>
        </arguments>
    </virtualType>

    <virtualType name="Born\GeoIp\Model\ResourceModel\Currency\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">currencymapping</argument>
            <argument name="eventPrefix" xsi:type="string">born_geoip_currency_collection</argument>
            <argument name="eventObject" xsi:type="string">born_geoip_collection</argument>
            <argument name="resourceModel" xsi:type="string">Born\GeoIp\Model\ResourceModel\Currency</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\App\FrontControllerInterface">
        <plugin name="autoredirect_plugin" type="Born\GeoIp\Plugin\AutoRedirect" sortOrder="10" disabled="false"/>
    </type>
</config>