<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cronscheduler_schedule_listing_data_source" xsi:type="string">Born\CronScheduler\Model\ResourceModel\Schedule\Grid\Collection</item>
                 <item name="cronscheduler_schedule_job_listing_data_source" xsi:type="string">Born\CronScheduler\Model\ResourceModel\Job\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Born\CronScheduler\Model\ResourceModel\Schedule\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cron_schedule</argument>
            <argument name="resourceModel" xsi:type="string">Born\CronScheduler\Model\ResourceModel\Schedule</argument>
        </arguments>
    </virtualType>

 <virtualType name="Born\CronScheduler\Model\ResourceModel\Job\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cron_schedule</argument>
            <argument name="resourceModel" xsi:type="string">Born\CronScheduler\Model\ResourceModel\Job</argument>
        </arguments>
    </virtualType>
</config>