<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
         <arguments>
            <argument name="collections" xsi:type="array">
                <item name="born_wordpressblog_category_listing_data_source" xsi:type="string">Born\WordpressBlog\Model\ResourceModel\Category\Grid\Collection</item>
                <item name="born_wordpressblog_post_listing_data_source" xsi:type="string">Born\WordpressBlog\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
   
    <virtualType name="Born\WordpressBlog\Model\ResourceModel\Category\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">wordpress_category</argument>
            <argument name="resourceModel" xsi:type="string">Born\WordpressBlog\Model\ResourceModel\Category</argument>
        </arguments>
    </virtualType>

    <virtualType name="Born\WordpressBlog\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">wordpress_post</argument>
            <argument name="resourceModel" xsi:type="string">Born\WordpressBlog\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Catalog\Model\Product">
<plugin name="change product price" type="Born\WordpressBlog\Plugin\Product"/>

</type>

    <preference for="Born\WordpressBlog\Api\SampleApiInterface" type="Born\WordpressBlog\Model\SampleApiRepository"/>
    <preference for="Born\WordpressBlog\Api\WordpressPostRepositoryInterface" type="Born\WordpressBlog\Model\WordpressPostRepository"/>
    <preference for="Born\WordpressBlog\Api\Data\WordpressPostInterface" type="Born\WordpressBlog\Model\Post"/> 
    <preference for="Born\WordpressBlog\Api\Data\WordpressPostSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
   
</config>