<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="born_wordpessblog_category_save_before">
        <observer name="saving_my_custom_entity" instance="Born\WordpressBlog\Observer\BeforeSavePostEntity" />
    </event>

  
</config>